import { FC } from 'react'

import * as S from './{{ pascalCase name }}.styles'

export type {{ pascalCase name }}Props = {
  label: string
}

export const {{ pascalCase name }}: FC<{{ pascalCase name }}Props> = ({ label }) => {
  return (
    <S.Wrapper>
      <button>{label}</button>
    </S.Wrapper>
  )
}
